/* 标题 */
.styled-title {
    -text-fill: #003300;
    -fx-font-size: 48px;
}

/* 内容*/
.styled-content {
    -text-fill: #003300;
    -fx-font-size: 24px;
}

/* 输入框 */
.styled-text-field {
    -fx-background-color: #99ff99;
    -fx-background-radius: 10px;
    -fx-border-color: #99cc99;
    -fx-border-radius: 10px;
    -fx-cursor: TEXT;
}

/* ChoiceBox和下拉列表 */
.styled-choice-box {
    -fx-background-radius: 10px;
    -fx-background-color: #99ff99;
    -fx-border-color: #99cc99;
    -fx-border-radius: 10px;
}

.styled-choice-box .context-menu {
    -fx-background-color: #99ff99;
    -fx-background-radius: 10px;
    -fx-border-color: #99cc99;
    -fx-border-radius: 10px;
    -fx-padding: 5;
}

.styled-choice-box .menu-item {
    -fx-background-color: transparent;
    -fx-padding: 5 10 5 10;
}

.styled-choice-box .menu-item:focused {
    -fx-background-color: #88dd88;
    -fx-background-radius: 5px;
}

.styled-choice-box .menu-item .label {
    -fx-text-fill: #002200;
}

/*表格*/
.styled-table {
    -fx-background-color: #ccffcc;
    -fx-border-color: #ccffcc;
    -fx-text-fill: #002200;
    -fx-padding: 5;
}

/*表格第一行即表头*/
.styled-table .column-header {
    -fx-background-color: #99ff99;
    -fx-border-color: #559955;
    -fx-padding: 5;
}

/* 表格行 */
.styled-table .table-row-cell {
    -fx-background-color: #ccffcc;
    -fx-border-color: #559955;
}

/* 滚动区 */
.scroll-pane {
    -fx-background-color: #ccffcc;
    -fx-background-radius: 10px;
    -fx-border-color: #99ff99;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-padding: 5px;
}

/* 滚动条轨道*/
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: #339933;
    -fx-background-radius: 5px;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}


/* 滚动条两端按钮样式 */
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button,
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button{
    -fx-background-color: #000000;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 0;
    -fx-shape: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: null;
}

/* 深色按钮 */
.styled-dark-button {
    -fx-background-color: #336633;
    -fx-background-radius: 30;
    -fx-border-color: #ddffdd;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-text-fill: #ddffdd;
    -fx-font-size: 24px;
    -fx-cursor: HAND;
}

/* 浅色按钮 */
.styled-light-button {
    -fx-background-color: #99ff99;
    -fx-background-radius: 30;
    -fx-border-color: #99cc99;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-text-fill: #002200;
    -fx-font-size: 24px;
    -fx-cursor: HAND;
}