/* 标题 */
.styled-title {
    -text-fill: #003300;
    -fx-font-size: 48px;
}

/* 内容*/
.styled-content {
    -text-fill: #003300;
    -fx-font-size: 24px;
}

/* 输入框 */
.styled-text-field {
    -fx-background-color: #99ff99;
    -fx-background-radius: 10px;
    -fx-border-color: #99cc99;
    -fx-border-radius: 10px;
    -fx-cursor: TEXT;
}

/* ChoiceBox和下拉列表 */
.styled-choice-box {
    -fx-background-radius: 10px;
    -fx-background-color: #99ff99;
    -fx-border-color: #99cc99;
    -fx-border-radius: 10px;
}

.styled-choice-box .context-menu {
    -fx-background-color: #99ff99;
    -fx-background-radius: 10px;
    -fx-border-color: #99cc99;
    -fx-border-radius: 10px;
    -fx-padding: 5;
}

.styled-choice-box .menu-item {
    -fx-background-color: transparent;
    -fx-padding: 5 10 5 10;
}

.styled-choice-box .menu-item:focused {
    -fx-background-color: #88dd88;
    -fx-background-radius: 5px;
}

.styled-choice-box .menu-item .label {
    -fx-text-fill: #002200;
}

/*表格*/
.styled-table {
    -fx-background-color: #99ff99;
    -fx-background-radius: 10px;
    -fx-border-color: #99cc99;
    -fx-border-radius: 10px;
    -fx-padding: 5;
}

.tableView .column-header {
    -fx-background-color: #99ff99;
    -fx-text-fill: #002200;
    -fx-border-color: #99cc99;
}

.tableView .column-header:hover {
    -fx-background-color: #447744;
}

/* 深色按钮 */
.styled-dark-button {
    -fx-background-color: #336633;
    -fx-background-radius: 30;
    -fx-border-color: #ddffdd;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-text-fill: #ddffdd;
    -fx-font-size: 24px;
    -fx-cursor: HAND;
}

/* 浅色按钮 */
.styled-light-button {
    -fx-background-color: #99ff99;
    -fx-background-radius: 30;
    -fx-border-color: #99cc99;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-text-fill: #002200;
    -fx-font-size: 24px;
    -fx-cursor: HAND;
}