/*FluentAqi公用css*/
/*整体用色原则：
    1.色调为不同深浅明暗的纯绿色
    (即RGB格式为xxyyxx)；
    2.日夜间转换：RGB每位反转，再xy对调以保持绿色
    (即RGB格式为(f-y)(f-y)(f-x)(f-x)(f-y)(f-y)*/

/* 字体 */
@font-face {
    font-family: 'Maple Mono NF CN Bold';
    src: url('fonts/MapleMono-NF-CN-Bold.ttf');
}

@font-face {
    font-family: 'Maple Mono NF CN Medium';
    src: url('fonts/MapleMono-NF-CN-Medium.ttf');
}

/* 主容器-日间 */
.light-container {
    -fx-alignment: center;
    -fx-fill-width: false;
    -fx-min-height: 540px;
    -fx-min-width: 720px;
    -fx-pref-height: 540px;
    -fx-pref-width: 720px;
    -fx-spacing: 20px;
    -fx-background-color: #eeffee;
}

/*主容器-夜间 */
.dark-container {
    -fx-alignment: center;
    -fx-fill-width: false;
    -fx-min-height: 540px;
    -fx-min-width: 720px;
    -fx-pref-height: 540px;
    -fx-pref-width: 720px;
    -fx-spacing: 20px;
    -fx-background-color: #003300;
}

/* 标题-日间 */
.light-title {
    -fx-font-family: 'Maple Mono NF CN Bold';
    -fx-text-fill: #003300;
    -fx-font-size: 48px;
}

/* 标题-夜间 */
.dark-title {
    -fx-font-family: 'Maple Mono NF CN Bold';
    -fx-text-fill: #ccffcc;
    -fx-font-size: 48px;
}

/* 内容-日间*/
.light-content {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #003300;
    -fx-font-size: 24px;
}

 /* 内容-夜间*/
.dark-content {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ccffcc;
    -fx-font-size: 24px;
}

/* 小字-日间*/
.light-small-content {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #003300;
    -fx-font-size: 18px;
}

/* 小字-夜间*/
.dark-small-content {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ccffcc;
    -fx-font-size: 18px;
}

/* 输入框-日间 */
.light-text-field {
    -fx-background-color: #99ff99;
    -fx-background-radius: 10px;
    -fx-border-color: #99cc99;
    -fx-border-radius: 10px;
    -fx-cursor: TEXT;
}

/* 输入框-夜间 */
.dark-text-field {
    -fx-background-color: #006600;
    -fx-background-radius: 10px;
    -fx-border-color: #00aa00;
    -fx-border-radius: 10px;
    -fx-cursor: TEXT;
}

/* 选择框-日间 */
.light-choice-box {
    -fx-background-radius: 10px;
    -fx-background-color: #99ff99;
    -fx-border-color: #99cc99;
    -fx-border-radius: 10px;
}

/*选项菜单-日间*/
.light-choice-box .context-menu {
    -fx-background-color: #99ff99;
    -fx-background-radius: 10px;
    -fx-border-color: #99cc99;
    -fx-border-radius: 10px;
    -fx-padding: 5;
}

/*选项菜单项-日间*/
.light-choice-box .menu-item {
    -fx-background-color: transparent;
    -fx-padding: 5 10 5 10;
}

/*选项菜单项-日间-聚焦*/
.light-choice-box .menu-item:focused {
    -fx-background-color: #88dd88;
    -fx-background-radius: 5px;
}

/*选项菜单项-日间-标签*/
.light-choice-box .menu-item .label {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #003300;
}

/* 选择框-夜间 */
.dark-choice-box {
    -fx-background-radius: 10px;
    -fx-background-color: #006600;
    -fx-border-color: #00aa00;
    -fx-border-radius: 10px;
    -fx-font-family: 'Maple Mono NF CN Medium';
}

/*选项菜单-夜间*/
.dark-choice-box .context-menu {
    -fx-background-color: #006600;
    -fx-background-radius: 10px;
    -fx-border-color: #00aa00;
    -fx-border-radius: 10px;
    -fx-padding: 5;
}

/*选项菜单项-夜间*/
.dark-choice-box .menu-item {
    -fx-background-color: transparent;
    -fx-padding: 5 10 5 10;
}

/*选项菜单项-夜间-聚焦*/
.dark-choice-box .menu-item:focused {
    -fx-background-color: #226622;
    -fx-background-radius: 5px;
}

/*选项菜单项-夜间-标签*/
.dark-choice-box .menu-item .label {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ccffcc;
}

/*表格-日间*/
.light-table {
    -fx-background-color: #ccffcc;
    -fx-border-color: #ccffcc;
    -fx-text-fill: #003300;
    -fx-padding: 5;
}

/*表格-夜间*/
.dark-table {
    -fx-background-color: #003300;
    -fx-border-color: #003300;
    -fx-text-fill: #ccffcc;
    -fx-padding: 5;
}

/*表头-日间*/
.light-table .column-header {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-background-color: #99ff99;
    -fx-border-color: #559955;
    -fx-text-fill: #003300;
    -fx-padding: 5;
}

/*表头-夜间*/
.dark-table .column-header {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-background-color: #006600;
    -fx-border-color: #66aa66;
    -fx-text-fill: #ccffcc;
    -fx-padding: 5;
}

/* 表格行-日间 */
.light-table .table-row-cell {
    -fx-background-color: #ccffcc;
    -fx-border-color: #559955;
    -fx-text-fill: #003300;
}

/* 表格行-夜间 */
.dark-table .table-row-cell {
    -fx-background-color: #003300;
    -fx-border-color: #66aa66;
    -fx-text-fill: #ccffcc;
}

/* 滚动区-日间 */
.light-scroll-pane {
    -fx-background-color: #ccffcc;
    -fx-background-radius: 10px;
    -fx-border-color: #99ff99;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-padding: 5px;
}

/* 滚动区-夜间 */
.dark-scroll-pane {
    -fx-background-color: #003300;
    -fx-background-radius: 10px;
    -fx-border-color: #66ff66;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-padding: 5px;
}

/* 滚动条轨道-日间*/
.light-scroll-bar:horizontal .track,
.light-scroll-bar:vertical .track {
    -fx-background-color: #339933;
    -fx-background-radius: 5px;
}
.light-scroll-bar:horizontal .thumb,
.light-scroll-bar:vertical .thumb {
    -fx-background-color: #eeffee;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

/*滚动条轨道-夜间*/
.dark-scroll-bar:horizontal .track,
.dark-scroll-bar:vertical .track {
    -fx-background-color: #66cc66;
    -fx-background-radius: 5px;
}
.dark-scroll-bar:horizontal .thumb,
.dark-scroll-bar:vertical .thumb{
    -fx-background-color: #001100;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

/* 滚动按钮-日间 */
.light-scroll-bar:horizontal .increment-button,
.light-scroll-bar:horizontal .decrement-button,
.light-scroll-bar:vertical .increment-button,
.light-scroll-bar:vertical .decrement-button{
    -fx-background-color: #001100;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 0;
    -fx-shape: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: null;
}

/*滚动按钮-夜间*/
.dark-scroll-bar:horizontal .increment-button,
.dark-scroll-bar:horizontal .decrement-button,
.dark-scroll-bar:vertical .increment-button,
.dark-scroll-bar:vertical .decrement-button{
    -fx-background-color: #eeffee;
    -fx-background-radius: 5px;
    -fx-padding: 0;
    -fx-shape: null;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: null;
}

/*标题区域*/
.light-titled-pane {
    -fx-background-color: #88dd88;
    -fx-background-radius: 10px;
    -fx-border-color: #559955;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
}

/* 标题栏-日间 */
.light-titled-pane .title {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-background-color: #88dd88;
    -fx-text-fill: #002200;
    -fx-font-size: 18px;
    -fx-padding: 5px 10px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-cursor: HAND;
}

/* 标题栏-夜间 */
.dark-titled-pane .title {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-background-color: #227722;
    -fx-text-fill: #ddffdd;
    -fx-font-size: 18px;
    -fx-padding: 5px 10px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-cursor: HAND;
}

/*伪表格-日间*/
.light-table-cell {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #003300;
    -fx-wrap-text: true;
    -fx-font-size: 16px;
    -fx-padding: 0 5px;
}

/*伪表格-夜间*/
.dark-table-cell {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ccffcc;
    -fx-wrap-text: true;
    -fx-font-size: 16px;
    -fx-padding: 0 5px;
}

/* 按钮-日间 */
.light-button {
    -fx-background-color: #99ff99;
    -fx-background-radius: 30;
    -fx-border-color: #99cc99;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #002200;
    -fx-font-size: 24px;
    -fx-cursor: HAND;
}

/* 按钮-夜间 */
.dark-button {
    -fx-background-color: #336633;
    -fx-background-radius: 30;
    -fx-border-color: #ddffdd;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ddffdd;
    -fx-font-size: 24px;
    -fx-cursor: HAND;
}

/* 小按钮-日间 */
.light-small-button {
    -fx-background-color: #99ff99;
    -fx-background-radius: 30;
    -fx-border-color: #99cc99;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #002200;
    -fx-font-size: 18px;
    -fx-cursor: HAND;
}

/*小按钮-夜间 */
.dark-small-button {
    -fx-background-color: #336633;
    -fx-background-radius: 30;
    -fx-border-color: #ddffdd;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ddffdd;
    -fx-font-size: 18px;
    -fx-cursor: HAND;
}

/* 对话框根面板-日间 */
.light-dialog-pane {
    -fx-background-color: #ccffcc;
    -fx-background-radius: 30px;
    -fx-border-color: #99cc99;
    -fx-border-radius: 30px;
    -fx-border-width: 1px;
    -fx-padding: 15px;
}

/* 对话框根面板-夜间 */
.dark-dialog-pane {
    -fx-background-color: #003300;
    -fx-background-radius: 30px;
    -fx-border-color: #336633;
    -fx-border-radius: 30px;
    -fx-border-width: 1px;
    -fx-padding: 15px;
}

/* 对话框标题区域-日间 */
.light-dialog-pane .header-panel {
    -fx-background-color: #99ff99;
    -fx-background-radius: 30px 30px 0 0;
    -fx-border-color: #99cc99;
    -fx-border-width: 0 0 1px 0;
    -fx-padding: 10px 15px;
}

/* 对话框标题区域-夜间 */
.dark-dialog-pane .header-panel {
    -fx-background-color: #006600;
    -fx-background-radius: 30px 30px 0 0;
    -fx-border-color: #336633;
    -fx-border-width: 0 0 1px 0;
    -fx-padding: 10px 15px;
}

/* 对话框标题文本-日间 */
.light-dialog-pane .header-panel .label {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #003300;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

/* 对话框标题文本-夜间 */
.dark-dialog-pane .header-panel .label {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ccffcc;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

/* 对话框内容文本-日间 */
.light-dialog-pane .content.label {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #003300;
    -fx-font-size: 18px;
    -fx-wrap-text: true;
}

/* 对话框内容文本-夜间 */
.dark-dialog-pane .content.label {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ccffcc;
    -fx-font-size: 18px;
    -fx-wrap-text: true;
}

/* 对话框按钮区域-日间 */
.light-dialog-pane .button-bar {
    -fx-background-color: #99ff99;
    -fx-background-radius: 0 0 30px 30px;
    -fx-padding: 10px;
}

/* 对话框按钮区域-夜间 */
.dark-dialog-pane .button-bar {
    -fx-background-color: #006600;
    -fx-background-radius: 0 0 30px 30px;
    -fx-padding: 10px;
}

/* 对话框按钮-日间 */
.light-dialog-pane .button {
    -fx-background-color: #99ff99;
    -fx-background-radius: 30px;
    -fx-border-color: #99cc99;
    -fx-border-radius: 30px;
    -fx-border-width: 1px;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #003300;
    -fx-font-size: 18px;
    -fx-padding: 5px 15px;
    -fx-cursor: hand;
}

/* 对话框按钮-夜间 */
.dark-dialog-pane .button {
    -fx-background-color: #006600;
    -fx-background-radius: 30px;
    -fx-border-color: #336633;
    -fx-border-radius: 30px;
    -fx-border-width: 1px;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ccffcc;
    -fx-font-size: 18px;
    -fx-padding: 5px 15px;
    -fx-cursor: hand;
}