/*夜间模式*/

/* 字体 */
@font-face {
    font-family: 'Maple Mono NF CN Bold';
    src: url('../fonts/MapleMono-NF-CN-Bold.ttf');
}

@font-face {
    font-family: 'Maple Mono NF CN Medium';
    src: url('../fonts/MapleMono-NF-CN-Medium.ttf');
}

/*主容器 */
.container {
    -fx-alignment: center;
    -fx-fill-width: false;
    -fx-min-height: 540px;
    -fx-min-width: 720px;
    -fx-pref-height: 540px;
    -fx-pref-width: 720px;
    -fx-spacing: 10px;
    -fx-background-color: #003300;
}

/* 标题-夜间 */
.title {
    -fx-alignment: CENTER;
    -fx-font-family: 'Maple Mono NF CN Bold';
    -fx-text-fill: #ccffcc;
    -fx-font-size: 48px;
}

 /* 内容-夜间*/
.content {
    -fx-alignment: CENTER;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ccffcc;
    -fx-font-size: 24px;
}

/* 小字-夜间*/
.small-content {
    -fx-alignment: CENTER;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ccffcc;
    -fx-font-size: 18px;
}

/* 网格-夜间*/
.grid-pane {
    -fx-background-color: #225522;
    -fx-background-radius: 20px;
    -fx-border-color: #444444;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
}

/*自定义横向区域-夜间*/
.h-box {
    -fx-alignment: CENTER;
    -fx-background-color: #225522;
    -fx-background-radius: 20px;
    -fx-border-color: #444444;
    -fx-border-radius: 20px;
}

/*自定义纵向区域-夜间*/
.v-box {
    -fx-alignment: CENTER;
    -fx-background-color: #225522;
    -fx-background-radius: 20px;
    -fx-border-color: #444444;
    -fx-border-radius: 20px;
}

/* 输入框-夜间 */
.text-field {
    -fx-background-color: #006600;
    -fx-background-radius: 10px;
    -fx-border-color: #00aa00;
    -fx-border-radius: 10px;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ccffcc;
    -fx-font-size: 12px;
    -fx-cursor: TEXT;
}

/* 选择框-夜间 */
.choice-box {
    -fx-background-radius: 10px;
    -fx-background-color: #006600;
    -fx-border-color: #00aa00;
    -fx-border-radius: 10px;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #999999;
    -fx-font-size: 12px;
}

/* 选择框-夜间-聚焦 */
.choice-box:focused {
    -fx-background-color: #228822;
    -fx-background-radius: 10px;
    -fx-border-color: #226622;
    -fx-border-radius: 10px;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ccffcc;
    -fx-font-size: 12px;
}

/*选项菜单-夜间*/
.choice-box .context-menu {
    -fx-background-color: #006600;
    -fx-background-radius: 10px;
    -fx-border-color: #00aa00;
    -fx-border-radius: 10px;
    -fx-padding: 5;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ccffcc;
    -fx-font-size: 12px;
}

/*选项菜单项-夜间*/
.choice-box .menu-item {
    -fx-background-color: #006600;
    -fx-padding: 5 10 5 10;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ccffcc;
    -fx-font-size: 12px;
}

/*选项菜单项-夜间-聚焦*/
.choice-box .menu-item:focused {
    -fx-background-color: #228822;
    -fx-background-radius: 5px;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ccffcc;
    -fx-font-size: 12px;
}

/*选项菜单项-夜间-标签*/
.choice-box .menu-item .label {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ccffcc;
    -fx-font-size: 12px;
}

/*表格-夜间*/
.table {
    -fx-background-color: #003300;
    -fx-border-color: #003300;
    -fx-text-fill: #ccffcc;
    -fx-padding: 5;
}

/*表头-夜间*/
.table .column-header {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-background-color: #006600;
    -fx-border-color: #66aa66;
    -fx-text-fill: #ccffcc;
    -fx-padding: 5;
}

/* 表格行-夜间 */
.table .table-row-cell {
    -fx-background-color: #003300;
    -fx-border-color: #66aa66;
    -fx-text-fill: #ccffcc;
}

/* 滚动区-夜间 */
.scroll-pane {
    -fx-background-color: #003300;
    -fx-background-radius: 10px;
    -fx-border-color: #66ff66;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-padding: 5px;
}

/* 滚动条轨道-夜间*/
ScrollPane .scroll-bar:horizontal .track,
ScrollPane .scroll-bar:vertical .track {
    -fx-background-color: #66cc66;
    -fx-background-radius: 5px;
}

/* 滚动条滑块-夜间*/
ScrollPane .scroll-bar:horizontal .thumb,
ScrollPane .scroll-bar:vertical .thumb {
    -fx-background-color: #001100;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

/*滚动条滑块-聚焦-夜间*/
ScrollPane .scroll-bar:horizontal .thumb:hover,
ScrollPane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #009900;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

/* 标题栏-夜间 */
.titled-pane .title {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-background-color: #227722;
    -fx-text-fill: #ddffdd;
    -fx-font-size: 18px;
    -fx-padding: 5px 10px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-cursor: HAND;
}

/*伪表格-夜间*/
.table-cell {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ccffcc;
    -fx-wrap-text: true;
    -fx-font-size: 16px;
    -fx-padding: 0 5px;
}

/* B按钮-日间 */
.B-button {
    -fx-background-color: #99ff99;
    -fx-background-radius: 30;
    -fx-border-color: #99cc99;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #002200;
    -fx-font-size: 24px;
    -fx-cursor: HAND;
}

/* B按钮-聚焦-日间 */
.B-button:hover {
    -fx-background-color: #77dd77;
    -fx-background-radius: 30;
    -fx-border-color: #66ff66;
    -fx-border-radius: 30;
    -fx-text-fill: #002200;
    -fx-font-size: 24px;
    -fx-cursor: HAND;
}

/* A按钮-日间 */
.A-button {
    -fx-background-color: #336633;
    -fx-background-radius: 30;
    -fx-border-color: #ddffdd;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ddffdd;
    -fx-font-size: 24px;
    -fx-cursor: HAND;
}

/* A按钮-聚焦-日间 */
.A-button:hover {
    -fx-background-color: #558855;
    -fx-background-radius: 30;
    -fx-border-color: #66ff66;
    -fx-border-radius: 30;
    -fx-text-fill: #ddffdd;
    -fx-font-size: 24px;
    -fx-cursor: HAND;
}

/* B小按钮-日间 */
.B-small-button {
    -fx-background-color: #99ff99;
    -fx-background-radius: 30;
    -fx-border-color: #99cc99;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #002200;
    -fx-font-size: 18px;
    -fx-cursor: HAND;
}

/* B小按钮-聚焦-日间 */
.B-small-button:hover {
    -fx-background-color: #77dd77;
    -fx-background-radius: 30;
    -fx-border-color: #66ff66;
    -fx-border-radius: 30;
    -fx-text-fill: #002200;
    -fx-font-size: 18px;
    -fx-cursor: HAND;
}

/*A小按钮-日间 */
.A-small-button {
    -fx-background-color: #336633;
    -fx-background-radius: 30;
    -fx-border-color: #ddffdd;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ddffdd;
    -fx-font-size: 18px;
    -fx-cursor: HAND;
}

/* A小按钮-聚焦-日间 */
.A-small-button:hover {
    -fx-background-color: #558855;
    -fx-background-radius: 30;
    -fx-border-color: #66ff66;
    -fx-border-radius: 30;
    -fx-text-fill: #ddffdd;
    -fx-font-size: 18px;
    -fx-cursor: HAND;
}