/* 对话框-日间 */
.dialog-pane {
    -fx-background-color: #ccffcc;
    -fx-border-color: #336633;
    -fx-spacing: 10px;
}

/* 对话框标题区域-日间 */
.dialog-pane .header-panel {
    -fx-background-color: #99ff99;
    -fx-border-color: #336633;
    -fx-spacing: 10px;
}

/* 对话框标题文本-日间 */
.dialog-pane .header-panel .label {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #003300;
    -fx-font-size: 20px;
}

/* 对话框内容文本-日间 */
.dialog-pane .styled-content.label {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #003300;
    -fx-font-size: 16px;
    -fx-spacing: 10px;
}

/* 对话框按钮区域-日间 */
.dialog-pane .button-bar {
    -fx-background-color: #99ff99;
    -fx-border-color: #336633;
    -fx-border-width: 1px;
    -fx-spacing: 10px;
}

/* 对话框按钮-日间 */
.dialog-pane .button {
    -fx-background-color: #99ff99;
    -fx-background-radius: 30px;
    -fx-border-color: #336633;
    -fx-border-radius: 30px;
    -fx-border-width: 1px;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #003300;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}
