/*日间模式*/

/* 字体 */
@font-face {
    font-family: 'Maple Mono NF CN Bold';
    src: url('../fonts/MapleMono-NF-CN-Bold.ttf');
}

@font-face {
    font-family: 'Maple Mono NF CN Medium';
    src: url('../fonts/MapleMono-NF-CN-Medium.ttf');
}

/* 主容器-日间 */
.styled-container {
    -fx-alignment: center;
    -fx-fill-width: false;
    -fx-min-height: 540px;
    -fx-min-width: 720px;
    -fx-pref-height: 540px;
    -fx-pref-width: 720px;
    -fx-spacing: 10px;
    -fx-background-color: #ddffdd;
}

/* 标题-日间 */
.styled-title {
    -fx-alignment: CENTER;
    -fx-font-family: 'Maple Mono NF CN Bold';
    -fx-text-fill: #003300;
    -fx-font-size: 48px;
}

/* 内容-日间*/
.styled-content {
    -fx-alignment: CENTER;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #003300;
    -fx-font-size: 24px;
}

/* 小字-日间*/
.styled-small-content {
    -fx-alignment: CENTER;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #003300;
    -fx-font-size: 18px;
}

/*网格-日间*/
.styled-grid-pane {
    -fx-alignment: CENTER;
    -fx-background-color: #ccffcc;
    -fx-background-radius: 20px;
    -fx-border-color: #dddddd;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
}

/*自定义横向区域-日间*/
.styled-h-box {
    -fx-alignment: CENTER;
    -fx-background-color: #ccffcc;
    -fx-background-radius: 20px;
    -fx-border-color: #dddddd;
    -fx-border-radius: 20px;
}

/*自定义纵向区域-日间*/
.styled-v-box {
    -fx-alignment: CENTER;
    -fx-background-color: #ccffcc;
    -fx-background-radius: 20px;
    -fx-border-color: #dddddd;
    -fx-border-radius: 20px;
}

/* 输入框-日间 */
.styled-text-field {
    -fx-background-color: #99ff99;
    -fx-background-radius: 10px;
    -fx-border-color: #99cc99;
    -fx-border-radius: 10px;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-font-size: 12px;
    -fx-text-fill: #003300;
    -fx-cursor: TEXT;
}

/* 选择框-日间 */
.styled-choice-box {
    -fx-background-radius: 10px;
    -fx-background-color: #99ff99;
    -fx-border-color: #99cc99;
    -fx-border-radius: 10px;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-font-size: 12px;
    -fx-text-fill: #003300;
}

/* 选择框-日间-聚焦 */
.styled-choice-box:focused {
    -fx-background-color: #77dd77;
    -fx-background-radius: 10px;
    -fx-border-color: #88dd88;
    -fx-border-radius: 10px;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-font-size: 12px;
    -fx-text-fill: #003300;
}

/*选项菜单-日间*/
.styled-choice-box .context-menu {
    -fx-background-color: #99ff99;
    -fx-background-radius: 10px;
    -fx-border-color: #99cc99;
    -fx-border-radius: 10px;
    -fx-padding: 5;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-font-size: 12px;
    -fx-text-fill: #003300;
}

/*选项菜单项-日间*/
.styled-choice-box .menu-item {
    -fx-background-color: #99ff99;
    -fx-padding: 5 10 5 10;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-font-size: 12px;
    -fx-text-fill: #003300;
}

/*选项菜单项-日间-聚焦*/
.styled-choice-box .menu-item:focused {
    -fx-background-color: #77dd77;
    -fx-background-radius: 5px;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-font-size: 12px;
    -fx-text-fill: #003300;
}

/*选项菜单项-日间-标签*/
.styled-choice-box .menu-item .label {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-font-size: 12px;
    -fx-text-fill: #003300;
}

/*表格-日间*/
.styled-table {
    -fx-background-color: #ccffcc;
    -fx-border-color: #ccffcc;
    -fx-text-fill: #003300;
    -fx-padding: 5;
}

/*表头-日间*/
.styled-table .column-header {
    -fx-background-color: #66aa66;
    -fx-border-color: #006600;
    -fx-padding: 5;
}

/*表头-日间-标签*/
.styled-table .column-header .label {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #003300;
    -fx-font-size: 16px;
}

/* 表格行-日间 */
.styled-table .table-row-cell {
    -fx-background-color: #ccffcc;
    -fx-border-color: #006600;
}

/* 表格行-日间-聚焦 */
.styled-table .table-row-cell:focused {
    -fx-background-color: #aaddaa;
    -fx-border-color: #66aa66;
}

/* 表格列-日间-聚焦 */
.styled-table .table-cell:focused {
    -fx-background-color: #aaddaa;
    -fx-border-color: #66aa66;
}

/*表格内容-日间*/
.styled-table .table-cell {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #003300;
}
/* 滚动区-日间 */
.styled-scroll-pane {
    -fx-background-color: #ccffcc;
    -fx-background-radius: 10px;
    -fx-border-color: #99ff99;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-padding: 5px;
}

/* 滚动条轨道-日间*/
ScrollPane .scroll-bar:horizontal .track,
ScrollPane .scroll-bar:vertical .track {
    -fx-background-color: #339933;
    -fx-background-radius: 5px;
}

/* 滚动条滑块-日间*/
ScrollPane .scroll-bar:horizontal .thumb,
ScrollPane .scroll-bar:vertical .thumb {
    -fx-background-color: #eeffee;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

/*滚动条滑块-聚焦-日间*/
ScrollPane .scroll-bar:horizontal .thumb:hover,
ScrollPane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #ccddcc;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

/*标题区域-日间*/
.styled-titled-pane {
    -fx-background-color: #88dd88;
    -fx-background-radius: 10px;
    -fx-border-color: #559955;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
}

/* 标题栏-日间 */
.styled-titled-pane .title {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-background-color: #88dd88;
    -fx-text-fill: #002200;
    -fx-font-size: 18px;
    -fx-padding: 5px 10px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-cursor: HAND;
}

/*伪表格-日间*/
.styled-table-cell {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #003300;
    -fx-wrap-text: true;
    -fx-font-size: 16px;
    -fx-padding: 0 5px;
}

/* A按钮-日间 */
.A-button {
    -fx-background-color: #99ff99;
    -fx-background-radius: 30;
    -fx-border-color: #99cc99;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #002200;
    -fx-font-size: 24px;
    -fx-cursor: HAND;
}

/* A按钮-聚焦-日间 */
.A-button:hover {
    -fx-background-color: #77dd77;
    -fx-background-radius: 30;
    -fx-border-color: #66ff66;
    -fx-border-radius: 30;
    -fx-text-fill: #002200;
    -fx-font-size: 24px;
    -fx-cursor: HAND;
}

/* B按钮-日间 */
.B-button {
    -fx-background-color: #336633;
    -fx-background-radius: 30;
    -fx-border-color: #ddffdd;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ddffdd;
    -fx-font-size: 24px;
    -fx-cursor: HAND;
}

/* B按钮-聚焦-日间 */
.B-button:hover {
    -fx-background-color: #558855;
    -fx-background-radius: 30;
    -fx-border-color: #66ff66;
    -fx-border-radius: 30;
    -fx-text-fill: #ddffdd;
    -fx-font-size: 24px;
    -fx-cursor: HAND;
}

/* A小按钮-日间 */
.A-small-button {
    -fx-background-color: #99ff99;
    -fx-background-radius: 30;
    -fx-border-color: #99cc99;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #002200;
    -fx-font-size: 18px;
    -fx-cursor: HAND;
}

/* A小按钮-聚焦-日间 */
.A-small-button:hover {
    -fx-background-color: #77dd77;
    -fx-background-radius: 30;
    -fx-border-color: #66ff66;
    -fx-border-radius: 30;
    -fx-text-fill: #002200;
    -fx-font-size: 18px;
    -fx-cursor: HAND;
}

/*B小按钮-日间 */
.B-small-button {
    -fx-background-color: #336633;
    -fx-background-radius: 30;
    -fx-border-color: #ddffdd;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #ddffdd;
    -fx-font-size: 18px;
    -fx-cursor: HAND;
}

/* B小按钮-聚焦-日间 */
.B-small-button:hover {
    -fx-background-color: #558855;
    -fx-background-radius: 30;
    -fx-border-color: #66ff66;
    -fx-border-radius: 30;
    -fx-text-fill: #ddffdd;
    -fx-font-size: 18px;
    -fx-cursor: HAND;
}

/* 对话框-日间 */
.styled-dialog-pane {
    -fx-background-color: #ccffcc;
    -fx-spacing: 10px;
}

/* 对话框标题区域-日间 */
.styled-dialog-pane .header-panel {
    -fx-background-color: #99ff99;
    -fx-spacing: 10px;
}

/* 对话框标题文本-日间 */
.styled-dialog-pane .header-panel .label {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #003300;
    -fx-font-size: 20px;
}

/* 对话框内容文本-日间 */
.styled-dialog-pane .content.label {
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #003300;
    -fx-font-size: 16px;
    -fx-spacing: 10px;
}

/* 对话框按钮区域-日间 */
.styled-dialog-pane .button-bar {
    -fx-background-color: #99ff99;
    -fx-spacing: 10px;
}

/* 对话框按钮-日间 */
.styled-dialog-pane .button {
    -fx-background-color: #99ff99;
    -fx-background-radius: 30px;
    -fx-border-color: #336633;
    -fx-border-radius: 30px;
    -fx-border-width: 1px;
    -fx-font-family: 'Maple Mono NF CN Medium';
    -fx-text-fill: #003300;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

/* 浮动菜单-日间 */
.floating-menu {
    -fx-background-color: TRANSPARENT;
    -fx-padding: 10;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-spacing: 10;
}